{% extends 'base.html' %}

{% block body %}
<br>
<style>
h1 {text-align: center;}
p {text-align: center;}

table.center {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
</style>
<h1>Record vs. Rest of League</h1>
<p>What is your record if you played the team on top every week?</p>
<div class="tscroll" style="overflow-x:auto;">
    <table class="table table-hover center content-table vert" style="table-layout:auto; width:60%; white-space:nowrap">
        <thead>
            <tr>
                {% for header in headings_h2h %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_h2h %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h1>Record By Week</h1>
<div class="tscroll" style="overflow-x:auto;">
    <table class="table table-hover center content-table vert" style="table-layout:auto; width:60%; white-space:nowrap">
        <thead>
            <tr>
                {% for header in headings_wk %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_wk %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell|safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h1>Schedule Switcher</h1>
<p>What would your record be if you had the schedule of the team on top?</p>
<div class="tscroll" style="overflow-x:auto;">
    <table class="table table-hover center content-table vert" style="table-layout:auto; width:60%; white-space:nowrap;">
        <thead>
            <tr>
                {% for header in headings_ss %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_ss %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell|safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p>Note: The diagonal (where your team intersects) represents your actual record</p>
{% endblock %}
