{% extends 'base.html' %}

{% block body %}
<br>
<style>
h1 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}

table.center {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
</style>
<p>All simulations are ran using each team's optimal lineup</p>
<h1>{{ week }} Betting Table</h1>
<div class="tscroll" style="overflow-x:auto;">
    <table class="table table-hover center content-table betting" style="table-layout:auto; width:40%">
        <caption><i>Updated: {{ tstamp_bets }}</i></caption>
        <thead>
            <tr>
                {% for header in headings_bets %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_bets %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell|safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h1>Season Simulation Results</h1>
<h3>Projected Standings</h3>
<div class="tscroll" style="overflow-x:auto;">
    <table class="table table-hover center content-table standings standings-sim" style="table-layout:auto; width:50%">
        <caption><i>Updated: {{ tstamp_s }}</i></caption>
        <thead>
            <tr>
                {% for header in headings_s %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_s %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{ url_for('static', filename='js/d3/season_sims.js') }}"></script>
<div style="overflow-x:auto; width:100%;">
    <div id="sim-chart" style="position:relative; width:700px; margin: 0 auto;">
    <div style="position:sticky; left:50%; top:20px; z-index:10; width:0;">
        <label for="metric-select" style="font-size:16px; font-weight:500; position:absolute; left:0; transform:translateX(-50%); white-space:nowrap;">
            <select id="metric-select">
                <option value="playoffs">Make Playoffs</option>
                <option value="third">Third Place</option>
                <option value="finals">Make Finals</option>
                <option value="champion">Win Championship</option>
                <option value="matchup_wins">Matchup Wins</option>
                <option value="tophalf_wins">Top Half Wins</option>
                <option value="total_wins">Total Wins</option>
                <option value="total_points">Total Points</option>
                <option value="most_wins">Most Wins</option>
                <option value="most_points">Most Points</option>
                <option value="top_scores">Top Score Weeks</option>
                <option value="xpo">Expected Payout</option>
            </select>
        </label>
    </div>
    <div id="sim-chart-inner" style="width:700px; margin: 0 auto;"></div>
    <script>
        // Populate dropdown from data
        const data = {{ probs.probs | safe }}
        const metricSelect = document.getElementById("metric-select");

        metricSelect.addEventListener("change", () =>
          drawTeamProbChart("#sim-chart-inner", data, getSelectedMetric())
        );

        function getSelectedMetric() {
          return metricSelect.value;
        }
        drawTeamProbChart("#sim-chart-inner", data, getSelectedMetric())
    </script>
</div>
</div>
<br>
<h3>Rank Distribution</h3>
<p>Percentage of simulations where team finished in <i>n<sup>th</sup></i> place</p>
<div class="tscroll" style="overflow-x:auto;">
    <table class="table table-hover center content-table vert" style="table-layout:auto; width:60%">
        <thead>
            <tr>
                {% for header in headings_r %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_r %}
            <tr>
                {% for cell in row %}
                    <td style="
                        {% if cell is number %}
                            {% set alpha = cell %}
                            {% if alpha < 0.025 %}{% set alpha = 0.025 %}{% endif %}
                            {% if alpha > 0.975 %}{% set alpha = 0.975 %}{% endif %}
                            background-color: rgba(220, 53, 69, {{ alpha }});
                            color: {{ 'white' if alpha > 0.65 else 'black' }};
                            font-size: 13px;
                        {% endif %}
                    ">
                        {% if cell is none or cell == '' %}
                            {{ '' }}
                        {% elif cell is number %}
                            {% if 0 < cell < 0.001 %}
                                &lt;0.1%
                            {% elif 1 > cell > 0.999 %}
                                &gt;99.9%
                            {% else %}
                                {{ '%.1f'|format(cell * 100) }}%
                            {% endif %}
                        {% else %}
                            {{ cell }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h3>Wins Distribution</h3>
<p>Percentage of simulations where team finished with <i>n</i> wins</p>
<div class="tscroll" style="overflow-x:auto;">
    <table class="table table-hover center content-table vert" style="table-layout:auto; width:70%">
        <thead>
            <tr>
                {% for header in headings_w %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_w %}
            <tr>
                {% for cell in row %}
                    <td style="
                        min-width:55px;
                        {% if cell is number %}
                            {% set alpha = cell %}
                            {% if alpha < 0.025 %}{% set alpha = 0.025 %}{% endif %}
                            {% if alpha > 0.95 %}{% set alpha = 0.95 %}{% endif %}
                            background-color: rgba(220, 53, 69, {{ alpha }});
                            color: {{ 'white' if alpha > 0.65 else 'black' }};
                            font-size: 13px;
                        {% endif %}
                    ">
                        {% if cell is none or cell == '' %}
                            {{ '' }}
                        {% elif cell is number %}
                            {% if cell < 0.001 %}
                                &lt;0.1%
                            {% elif cell > 0.999 %}
                                &gt;99.9%
                            {% else %}
                                {{ '%.1f'|format(cell * 100) }}%
                            {% endif %}
                        {% else %}
                            {{ cell }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
